@use './root.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    color: root.$typeography-primary;
}

button {
    cursor: pointer;
}

main {
    padding-inline: 1.5rem;
    padding-bottom: 6rem;
}