$primary-white: #FFF;
$primary-black: #341931;
$black-transparent: #00000026;

$accent-pink: #EE0979;
$accent-red: #E54028;
$accent-orange: #FF6A00;
$accent-yellow: #F2BC06;
$accent-lime: #5EB11C;
$accent-green: #3A7634;
$accent-cyan: #0ABEBE;
$accent-light-blue: #00A1CB;
$accent-dark-blue: #115793;

$typeography-primary: #341931;
$typeography-secondary: #FFF;
$typeography-tertiary: #EE0979;

$gradient: linear-gradient(to right, $accent-pink, $accent-orange);